<main class="are_form">
<div class="formi">
    <header class="titulos">
      <h1>Logo</h1>
      <h2>login</h2>
    </header>
    
        <form class="form">
          <div>
       
          <input type="email" class="input-group input form-control inputEmail" 
          placeholder="email" />
       
          </div>
         
          <input type="password" class="input-group form-control input inputsenha" placeholder="senha">

           <button type="submit" class="btn btn-primary">Submit</button>
         </form>
      
      
      </div>
    
     </main>